html{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.7)!important;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Raleway', sans-serif!important;
}
.box{
  border-radius: 5%;
  width: 450px;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;     
}
.box-img{
  border-radius: 20%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h2{
  font-size: 20px;
  letter-spacing: 3px;
}
.box h5{
  text-align: justify;
  font-size: 20px;
}
.container{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
.box2 li{
  list-style: disc;
  display: list-item;
}
.socmed-logo{
    display: flex;
    flex-direction: row;
    width: max-content;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    bottom: 5px;
    text-align: center;
}
.socmed-logo a{
    margin-left:6px;
    margin-right:6px;
    color:white;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}
.socmed-logo a:hover{
    color: #b9b9b9;
}


[type=radio] {
    display: none;
  }
  
  #slider {
    margin-top: 100px;
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #slide1 { background: url(../img/carousel-img-1.JPG) ; background-size: cover; background-position: center;}
  #slide2 { background: url(../img/carousel-img-2.JPG) ; background-size: cover; background-position: center;}
  #slide3 { background: url(../img/carousel-img-3.jpg) ; background-size: cover; background-position: center;}
  #slide4 { background: url(../img/carousel-img-4.JPG) ; background-size: cover; background-position: center;}
  #slide5 { background: url(../img/carousel-img-5.jpg) ; background-size: cover; background-position: center;}
  
@media screen and (max-width: 1100px) {
  .container{
    flex-direction: column;
  }
  .box{
    width: 75vw;
    height: auto;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}